<a href="https://colab.research.google.com/github/ivanyspaez/AlgorithmsUN2022I/blob/main/isepulveda_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Colab Yahoo Introduction to the Research Environment
The research environment is powered by IPython notebooks, which allow one to perform a great deal of data analysis and statistical validation. We'll demonstrate a few simple techniques here.

#Code Cells vs. Text Cells
As you can see, each cell can be either code or text. To select between them, choose from the 'Cell Type' dropdown menu on the top left.

##My Own Example 1


A code cell will be evaluated when you press play, or when you press the shortcut, shift-enter. Evaluating a cell evaluates each line of code in sequence, and prints the results of the last line below the cell.

In [ ]:
3+4

##My Own Example 2
Sometimes there is no result to be printed, as is the case with assignment.

In [ ]:
w=23

##My Own Example 3
Remember that only the result from the last line is printed.

In [ ]:
4-3
4-2
4-1

##My Own Example 4
However, you can print whichever lines you want using the print statement.

In [ ]:
print(1+9)

##My Own Example 5
While a cell is running, a [*] will display on the left. When a cell has yet to be executed, [ ] will display. When it has been run, a number will display indicating the order in which it was run during the execution of the notebook [5]. Try on this cell and note it happening.

In [ ]:
c = 0
for x in range(100000001):
    c = c + x
c

##My Own Example 6
The vast majority of the time, you'll want to use functions from pre-built libraries. You can't import every library on Quantopian due to security issues, but you can import most of the common scientific ones. Here I import numpy and pandas, the two most common and useful libraries in quant finance. I recommend copying this import statement to every new notebook.

Notice that you can rename libraries to whatever you want after importing. The as statement allows this. Here we use np and pd as aliases for numpy and pandas. This is a very common aliasing and will be found in most code snippets around the web. The point behind this is to allow you to type fewer characters when you are frequently accessing these libraries.

In [ ]:
import math as m
import scipy as sp
import random as r
import numpy as np

##My Own Example 7
#Tab Autocomplete
Pressing tab will give you a list of IPython's best guesses for what you might want to type next. This is incredibly valuable and will save you a lot of time. If there is only one possible option for what you could type next, IPython will fill that in for you. Try pressing tab very frequently, it will seldom fill in anything you don't want, as if there is ambiguity a list will be shown. This is a great way to see what functions are available in a library.

Try placing your cursor after the . and pressing tab.

In [ ]:
m.cos(0).

##My Own Example 8
Placing a question mark after a function and executing that line of code will give you the documentation IPython has for that function. It's often best to do this in a new cell, as you avoid re-executing other code and running into bugs.

In [ ]:
m.ceil?

##My Own Example 8

usando funcion random de la libreria random

In [ ]:
def Lista():
  l1,l2=[],[]
  for i in range (7):
    for j in range (7):
      l2.append(int(int(r.random()+r.randint(5,30)))) # 
    l1.append(l2.copy())
    l2.clear()
  return l1
L=Lista()
L

In [ ]:
X = np.random.normal(5, 10, 10)
X

##My Own Example 9
The vast majority of the time, you'll want to use functions from pre-built libraries. You can't import every library on Quantopian due to security issues, but you can import most of the common scientific ones. Here I import numpy and pandas, the two most common and useful libraries in quant finance. I recommend copying this import statement to every new notebook.

Notice that you can rename libraries to whatever you want after importing. The as statement allows this. Here we use np and pd as aliases for numpy and pandas. This is a very common aliasing and will be found in most code snippets around the web. The point behind this is to allow you to type fewer characters when you are frequently accessing these libraries.

In [ ]:
import matplotlib.pyplot as plt
L=L[0:2]
plt.hist(L)

#Plotting
We can use the plotting library we imported as follows.

In [ ]:
plt.plot(X)

##My Own Example 10
###Adding Axis Labels

No self-respecting quant leaves a graph without labeled axes. Here are some commands to help with that.

In [ ]:
l,l2=Lista()[0:2],Lista()
plt.plot(l);
plt.plot(l2);
plt.xlabel('Time') # The data we generated is unitless, but don't forget units in general.
plt.ylabel('Returns')
plt.legend(['L', 'L2']);

##My Own Example 11
Let's use numpy to take some simple statistics.

In [ ]:
import numpy as np
np.median(l2)

My Own Example 12

In [ ]:
!pip install finnhub-python

##My Own Example 13
Randomly sampled data can be great for testing ideas, but let's get some real data. We can use get_pricing to do that. You can use the ? syntax as discussed above to get more information on get_pricing's arguments.

In [ ]:
!pip install yfinance
import yfinance as yf

##My Own Example 14

In [ ]:
d = yf.download("BTC-USD", start="2021-4-1", end="2022-4-1")

##My Own Example 15
Our data is now a dataframe. You can see the datetime index and the colums with different pricing data

In [ ]:
d

##My Own Example 16
This is a pandas dataframe, so we can index in to just get price like this. For more info on pandas, please [click here](http://pandas.pydata.org/pandas-docs/stable/10min.html).

In [ ]:
X = d['Close']

##My Own Example 17
Because there is now also date information in our data, we provide two series to .plot. X.index gives us the datetime index, and X.values gives us the pricing values. These are used as the X and Y coordinates to make a graph.

In [ ]:
plt.plot(X.index, X.values)
plt.ylabel('Price')
plt.legend(['BTC-USD']);

##My Own Example 18
We can get statistics again on real data.

In [ ]:
np.mean(d)

##My Own Example 19

In [ ]:
np.std(d)

## My Own Example 20
We can use the pct_change function to get returns. Notice how we drop the first element after doing this, as it will be NaN (nothing -> something results in a NaN percent change).

In [ ]:
B = X.pct_change()[1:]

## My Own Example 21
We can plot the returns distribution as a histogram.

In [ ]:
plt.hist(B, bins=20)
plt.xlabel('Return')
plt.ylabel('Frequency')
plt.legend(['BTC-USD Returns']);

## My Own Example 22
Get statistics again.

In [ ]:
np.mean(B)

My Own Example 23

In [ ]:
np.std(B)

My Own Example 24
Now let's go backwards and generate data out of a normal distribution using the statistics we estimated from Microsoft's returns. We'll see that we have good reason to suspect Microsoft's returns may not be normal, as the resulting normal distribution looks far different.

In [ ]:
plt.hist(np.random.normal(np.mean(B), np.std(B), 10000), bins=20)
plt.xlabel('Return')
plt.ylabel('Frequency')
plt.legend(['Normally Distributed Returns']);

## My Own Example 25
#Generating a Moving Average

`pandas` has some nice tools to allow us to generate rolling statistics. Here's an example. Notice how there's no moving average for the first 60 days, as we don't have 60 days of data on which to generate the statistic.

In [ ]:
MAVG = X.rolling(3).mean()
plt.plot(X.index, X.values)
plt.plot(MAVG.index, MAVG.values)
plt.ylabel('Price')
plt.legend(['BTC-USD', '1 Year MAVG']);

My Own Example 26
A comment is a note made by a programmer in the source code of a program. Its purpose is to clarify the source code and make it easier for people to follow along with what is happening. Anything in a comment is generally ignored when the code is actually run, making comments useful for including explanations and reasoning as well as removing specific lines of code that you may be unsure about. Comments in Python are created by using the pound symbol (# Insert Text Here). Including a # in a line of code will comment out anything that follows it.

In [ ]:
# Comentarios de solo una linea

##My Own Example 27
You may hear text enclosed in triple quotes (""" Insert Text Here """) referred to as multi-line comments, but this is not entirely accurate. This is a special type of string (a data type we will cover), called a docstring, used to explain the purpose of a function.

In [ ]:
"""Estos comentarios se pueden hacer
   en varias lineas 
"""

"esto no es comentario, se imprime"

## My Own Example 28
Variables
Variables provide names for values in programming. If you want to save a value for later or repeated use, you give the value a name, storing the contents in a variable. Variables in programming work in a fundamentally similar way to variables in algebra, but in Python they can take on various different data types.

The basic variable types that we will cover in this section are integers, floating point numbers, booleans, and strings.

An integer in programming is the same as in mathematics, a round number with no values after the decimal point. We use the built-in print function here to display the values of our variables as well as their types!

In [ ]:
a=[23]

print(a,type(a),type(a[0]))

##My Own Example 29
Variables, regardless of type, are assigned by using a single equals sign (`=`). Variables are case-sensitive so any changes in variation in the capitals of a variable name will reference a different variable entirely.

In [ ]:
n1=int(15)
print(N1)
print(1n) # una variable no puede comenzar por un numero

## My Own Example 30
A floating point number, or a float is a fancy name for a real number (again as in mathematics). To define a float, we need to either include a decimal point or specify that the value is a float.

In [ ]:
print(m.pi,type(m.pi))

## My Own Example 31
The int() function will also truncate any digits that a number may have after the decimal point!

Strings allow you to include text as a variable to operate on. They are defined using either single quotes ('') or double quotes ("").

In [ ]:
pi=m.pi
p=int(pi)
print (pi,":float   -->  ", p ,':int')
print(int(3.7))# se toman valores discretos

## My Own Example 32
The int() function will also truncate any digits that a number may have after the decimal point!

Strings allow you to include text as a variable to operate on. They are defined using either single quotes ('') or double quotes ("").

In [ ]:
string = 'en comillas simples '
print(string)
string = "en comillas dobles " # esta nueva llamada sustituye el valor anterior que tenia la variable
print(string)

## My Own Example 33
Both are allowed so that we can include apostrophes or quotation marks in a string if we so choose.

In [ ]:
bool1=r.randint(0,1) #booleano aleatorio con randint
print(bool1,type(bool1))
bool2=str(bool1)
print(bool2,type(bool2))#la mayoria de datos se pueden convertir a string, no asi de la forma contraria

##My Own Example 34
#Basic Math
Python has a number of built-in math functions. These can be extended even further by importing the math package or by including any number of other calculation-based packages.

All of the basic arithmetic operations are supported: +, -, /, and *. You can create exponents by using ** and modular arithmetic is introduced with the mod operator, %.

In [ ]:
a,b=int(input()),int(input())# la funcion input permite acceder datos desde el teclado 
print('Addition: '      , a + b)   # las variables se pueden operar invocandolas con su nombre cuantas veces sea necesario
print('Subtraction: '   , a - b)
print('Multiplication: ', a * b)
print('Division: '      , a / b) # la adicion se hace en float a menos que cambiemos el tipo de variable 
print('Division: '      , int(a / b))
print('Exponentiation: ', a**b)

## My Own Example 35
If you are not familiar with the the mod operator, it operates like a remainder function. If we type  15 % 4 , it will return the remainder after dividing  15  by  4 .

In [ ]:
a,b=int(input()),int(input())# la funcion input permite acceder datos desde el teclado 
print('Modulo'          , a%b)#residuo

## My Own Example 36
Mathematical functions also work on variables!

In [ ]:
n1 = r.randint(0,10)
n2 = r.randint(0,10)
print(n1 * n2)  # las variables se pueden operar invocandolas con su nombre

##My Own Example 37
Make sure that your variables are floats if you want to have decimal points in your answer. If you perform math exclusively with integers, you get an integer. Including any float in the calculation will make the result a float.

In [ ]:
a,b=4,-3
print(a/b)

##My Own Example 38

In [ ]:
m?
# Ayuda para la libreria math, esta fue importada antes como m 
import math
import math as mates

##My Own Example 39

In [ ]:
# podemos importar las librerias cuantas veces querramos con un nombre diferente cada vez, aunque est
print('Pi: ', math.pi)
print("Euler's Constant: ", mates.e)
del mates # el comando del elimina las librerias que importamos

##My Own Example 40

In [ ]:
a=int(r.randint(0,360))
print('Sine of {}: '.format(a), math.sin(a))

##My Own Example 41
Python has a few built-in math functions. The most notable of these are:

* `abs()`
* `round()`
* `max()`
* `min()`
* `sum()`

These functions all act as you would expect, given their names. Calling `abs()` on a number will return its absolute value. The `round()` function will round a number to a specified number of the decimal points (the default is $0$). Calling `max()` or `min()` on a collection of numbers will return, respectively, the maximum or minimum value in the collection. Calling `sum()` on a collection of numbers will add them all up. If you're not familiar with how collections of values in Python work, don't worry! We will cover collections in-depth in the next section. 

Additional math functionality can be added in with the `math` package.

In [ ]:
import math

##My Own Example 42
The math library adds a long list of new mathematical functions to Python. Feel free to check out the documentation for the full list and details. It concludes some mathematical constants

In [ ]:
print('Pi: ', math.pi)
print("Euler's Constant: ", math.e)

##My Own Example 43
As well as some commonly used math functions

In [ ]:
print('Cosine of pi: ', math.cos(math.pi))

##My Own Example 44
A list in Python is an ordered collection of objects that can contain any data type. We define a list using brackets ([]).

In [ ]:
my_list = [11, 22, 33]
print(my_list)

##My Own Example 45

In [ ]:
string = "en comillas simples"
string=string +",y una operacion de adicion de string"
print(string) # la adicion en los string agrega estos nuevos valores al final

## My Own Example 46
We can access and index the list by using brackets as well. In order to select an individual element, simply type the list name followed by the index of the item you are looking for in braces.

In [ ]:
#al principio hicimos una lista L
Lista=[4,3,2,1,0]          #  el comando --> del L tambien elimina listas, y variables
print(Lista)
Lista.clear() # el comando clear limpia las listas 
print(Lista)
Lista=[1,2,3,4, 4.2,'hola',"H"]# las listas aceptan cualquier tipo de variable
print(Lista)

## My Own Example 47,48

In [ ]:
print(L[1])
print(L[-2])#busca los datos de manera inversa

In [ ]:
print(len(Lista[5]))# estamos viendo la logitud de 'hola'
print(len(Lista))   #Longitud de Lista

## My Own Example 49
Indexing in Python starts from  0 . If you have a list of length  n , the first element of the list is at index  0 , the second element is at index  1 , and so on and so forth. The final element of the list will be at index  nâˆ’1 . Be careful! Trying to access a non-existent index will cause an error.

In [ ]:
print(Lista)
Lista[1]=Lista[5]
print(Lista)

## My Own Example 50
As we stated before, a list can contain any data type. Thus, lists can also contain strings.

In [ ]:
string = ['A','B','C','D',1,2,3,4]
print(string)
string[0] = "X"
string[6]=string[6]+3 # tambien es posible hacer operaciones dentro de las listas
print(string)

## My Own Example 51
This is fundamentally different from how strings are handled. A list is mutable, meaning that you can change a list's elements without changing the list itself. Some data types, like strings, are immutable, meaning you cannot change them at all. Once a string or other immutable data type has been created, it cannot be directly modified without creating an entirely new object.

In [ ]:
String=str('hola este es un string con declaracion de variable')
string2='este es un string ya que python es dinamico'

## My Own Example 52
Lists can also contain multiple different data types at once!

In [ ]:
a,b=3,4
L3 = [a+b, 'False', 38%a]
L3

## My Own Example 54

In [ ]:
Ln,Ls=[3,2,1],['a','b','c']
L3=L3+Ln+Ls
print(L3)

## My Own Example 53
If you want to put two lists together, they can be combined with a + symbol.

In [ ]:
  print(L3[0]-L3[2])#primero y ultimo elemento dentro de la lista

## My Own Example 55

In [ ]:
L3.clear()
L4=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(L4[2:6]+L4[9:12]) #Slices

## My Own Example 56,57,58
Using : we can select a group of elements in the list starting from the first element indicated and going up to (but not including) the last element indicated.

We can also select everything after a certain point

And everything before a certain point

Using negative numbers will count from the end of the indices instead of from the beginning. For example, an index of -1 indicates the last element of the list.

In [ ]:
print(L4[9:])

In [ ]:
print(L4[:6])

In [ ]:
print(L4[1:10:2])#de izquierda a derecha los valores determinan [inicio:fin:salto]

##My Own Example 59
With a negative step size we can even reverse the list!

In [ ]:
#ya demostramos que se pueden imprimir valores al reves, pero ademas es posible hacerlos con ciertos saltos
print(L4[11:1:-1])

##My Own Example 60

In [ ]:
print(L4[-1])

##My Own Example 61,62
Python does not have native matrices, but with lists we can produce a working fascimile. Other packages, such as numpy, add matrices as a separate data type, but in base Python the best way to create a matrix is to use a list of lists.

We can also use built-in functions to generate lists. In particular we will look at range() (because we will be using it later!). Range can take several different inputs and will return a list.

In [ ]:
a = 5
r = range(a)
print(r)

In [ ]:
a,b = 5,20
r = range(a,b)
print(r)

##My Own Example 63,64

Similar to our list-slicing methods from before, we can define both a start and an end for our range. This will return a list that is includes the start and excludes the end, just like a slice.

In [ ]:
a=[1,2,3,4,5,6]
b=a
b[2]='m'
b[0]='a'
print('b',b)#las listas se deben copiar con .copy(),ya que apuntan al mismo espacio de memoria  
print('a',a)

In [ ]:
a,b,c = 5,20,2
r = range(a,b,c)
print(r)

##My Own Example 65,66
A `tuple` is a data type similar to a list in that it can hold different kinds of data types. The key difference here is that a `tuple` is immutable. We define a `tuple` by separating the elements we want to include by commas. It is conventional to surround a `tuple` with parentheses.

In [ ]:
tupla=('21','a','2',-20,'m',True) #una tupla se puede crear con o sin parentesis
tupla2=1,2,3,4
print(tupla,tupla2)

In [ ]:
tupla2=(tupla)
print(tupla2)

##My Own Example 67

As mentioned before, tuples are immutable. You can't change any part of them without defining a new tuple.

In [ ]:
tupla=1,2,3,4,5,6,7
print(tupla2)# a diferencia de las listas, las tuplas si se copian copiando los datos a otro espacio de memoria
tupla[2]='m' # pero son inmutables, no pueden ser modificadas

##My Own Example 68
You can slice tuples the same way that you slice lists!

In [ ]:
print(tupla[2:6])

##My Own Example 69
And concatenate them the way that you would with strings!

In [ ]:
tupla=tupla+tupla2
print(tupla)
print(tupla+tupla2)#Las tuplas son concatenables

##My Own Example 70
Con el comando [del] podemos eliminar las tuplas o cualquier elemento, esto permite liberar la

In [ ]:
del tupla,tupla2  #las tuplas tambien son eliminables para liberar memoria, en este caso se muestra como eliminar 2 elementos con la misma linea de codigo

## My Own Example 71

In [ ]:
tupla=(1,"2",True)#se pueden sacar los datos de una tupla a variables
num1,num2,num3=tupla
print(num1,num2,num3,type(num1),type(num2),type(num3))
del tupla

## My Own Example 72
### Sets

A `set` is a collection of unordered, unique elements. It works almost exactly as you would expect a normal set of things in mathematics to work and is defined using braces (`{}`).

In [ ]:
sets = {7,1,True,'H',23/4,5,7,6,7,7,8,9,5}#sets o conjuntos, este tipo de variable no permite elementos repetidos
print(sets, type(sets))

## My Own Example 73
Note how any extra instances of the same item are removed in the final set. We can also create a set from a list, using the set() function.

In [ ]:
sets.add(4)#los sets organizan los datos que se le ingresan
print(sets)
sets.remove(5)
print(sets)#al igual que permiten eliminar facilmente datos

##My Own Example 74,75

Los sets o conjuntos poseen su propio grupo de instrucciones para modificar los valores dentro de ellas

In [ ]:
sets.remove(7)
print(sets)
sets.discard(7)
print(sets)#discard permite tratar de borrar un dato pero previniendo errores en caso de que el dato no exista
sets.add(10)
sets.add(11)
sets.pop()#pop elimina datos de forma aleatoria

Calling [len()] on a set will tell you how many elements are in it.

In [ ]:
print(len(sets))#longitud del conjunto
sets.add("a")
sets.add('b')
sets.add('c')

## My Own Example 76
Because a set is unordered, we can't access individual elements using an index. We can, however, easily check for membership (to see if something is contained in a set) and take the unions and intersections of sets by using the built-in set functions.

In [ ]:
'a' in sets #devuelve un booleano en base a si el dato esta en la variable
#Esta estructura tambien funciona con tuplas y listas

##My Own Example 77


Here we checked to see whether the string 'cats' was contained within our `animal_set` and it returned `True`, telling us that it is indeed in our set.

We can connect sets by using typical mathematical set operators, namely `|`, for union, and `&`, for intersection. Using `|` or `&` will return exactly what you would expect if you are familiar with sets in mathematics.

In [ ]:
print(sets)
set2={21,-10,'x','y',True}
print(type(set2))
print(sets|set2)#Con los conjuntos tambien se puede hacer union(&) o interseccion(|)
del sets,set2,num1,num2,num3

##My Own Example 78
### Dictionaries

Another essential data structure in Python is the dictionary. Dictionaries are defined with a combination of curly braces (`{}`) and colons (`:`). The braces define the beginning and end of a dictionary and the colons indicate key-value pairs. A dictionary is essentially a set of key-value pairs. The key of any entry must be an immutable data type. This makes both strings and tuples candidates. Keys can be both added and deleted.

In the following example, we have a dictionary composed of key-value pairs where the key is a genre of fiction (`string`) and the value is a list of books (`list`) within that genre. Since a collection is still considered a single entity, we can use one to collect multiple variables or values into one key-value pair.

In [ ]:
diccionario= {"numeros": [1643, 7456,-432], 
           "palabras": ["Rueda", "datos", "hola"],
           "booleanos": [True,False,True,True]}
print(diccionario)#los diccionarios si pueden tener datos repetidos

##My Own Example 79,80
After defining a dictionary, we can access any individual value by indicating its key in brackets.

In [ ]:
print(diccionario['numeros'])

En los diccionarios se pueden hacer algunas operaciones para sus valores

In [ ]:
diccionario['numeros']=132%5
print(diccionario['numeros'])

## My Own Example 81,82
Adding a new key-value pair is as simple as defining it.

In [ ]:
diccionario['palabras']='entrega','musica'# cambia todo el contenido de la seccion del diccionario

In [ ]:
print(diccionario['palabras'])
del diccionario

## My Own Example 83
We already know that strings are generally used for text. We can used built-in operations to combine, split, and format strings easily, depending on our needs.

The + symbol indicates concatenation in string language. It will combine two strings into a longer string.

In [ ]:
str1=str("abcdefgh")
str2='ijklmnopqrst'  # python determina de manera rapida de que tipo de variable se trata,excepto cuando recibe un dato del teclado
num3=3        
print(type(str1),type(str2),type(num3))
print(str1,'       ',str2)
str1=str1+str2 #sumar dos string como ya vimos los une en orden de llegada
print(str1)

## My Own Example 84
Strings are also indexed much in the same way that lists are.

In [ ]:
str1='hola'
str1=str1*num3
print(str1)#la multiplicacion por un entero, hace que el string se repita varias veces
str2="abcdefghijkl"
str2=str2[3:9]+str(num3)#se pueden agregar cualquier tipo de dato siempre y cuando los volvamos string
print(str2)

#My Own Example 85

Built-in objects and classes often have special functions associated with them that are called methods. We access these methods by using a period ('.'). We will cover objects and their associated methods more in another lecture!

Using string methods we can count instances of a character or group of characters.

In [ ]:
str1="programacion"
print(str1[::-1])#muchas operaciones las podemos hacer en la declaracion, esto guardara la modificacion en la variable
print(str1[-1])#muestra el primer dato de atras a adelante
print(str1.count("a"))#cuenta el numero de veces que aparezca la variable
print(str1.upper())#presenta el string en mayuscula

## My Own Example 86
Built-in objects and classes often have special functions associated with them that are called methods. We access these methods by using a period ('.'). We will cover objects and their associated methods more in another lecture!

Using string methods we can count instances of a character or group of characters.

In [ ]:
string='dnawkdnalndwlptryewka U dbdhavbwd.,.Umda, dwamqwpeqU oi'
print(string.find("U"))#muestra la posicion de la primera aparicion de un dato o cadena

## My Own Example 87,88
As well as replace characters in a string.

In [ ]:
string="aaa iii ooo uuu"
print(string.replace('i','e'))

In [ ]:
print(string.replace('iii','f'))

####My Own Example 89,90
Using the `format()` method we can add in variable values and generally format our strings.

In [ ]:
string= string+" {0} {1} ".format('www', 'sss')+'mmm'
print(string)

If you need some quick and dirty formatting, you can instead use the `%` symbol, called the string formatting operator.

In [ ]:
a=str("se hace")
print('la impresion %s aqui' % a)

##My Own Example 91

In [ ]:
a=['primero','segundo']
print('Aqui se imprime lo %s y aqui %s' % (a[0],a[1]))

##My Own Example 92

In [ ]:
b=True
a=int(5)
print(a==b)# == es una comparacion en este caso con un booleano

##My Own Example 94

## Logical Operators
### Basic Logic

Logical operators deal with `boolean` values, as we briefly covered before. If you recall, a `bool` takes on one of two values, `True` or `False` (or $1$ or $0$). The basic logical statements that we can make are defined using the built-in comparators. These are `==` (equal), `!=` (not equal), `<` (less than), `>` (greater than), `<=` (less than or equal to), and `>=` (greater than or equal to).

In [ ]:
print('A'<='a')#analiza sus valores ascii

These comparators also work in conjunction with variables.

In [ ]:
m,n=-2,2
print(m<n)

In [ ]:
a=15>=5 #las variables pueden ser desigualdades 
b=a==False
print("a es : {0} \nb es : {1}".format(a,b))

##My Own Example 95
The `or` operator performs a logical `or` calculation. This is an inclusive `or`, so if either component paired together by `or` is `True`, the whole statement will be `True`. The `and` statement only outputs `True` if all components that are `and`ed together are True. Otherwise it will output `False`. The `not` statement simply inverts the truth value of whichever statement follows it. So a `True` statement will be evaluated as `False` when a `not` is placed in front of it. Similarly, a `False` statement will become `True` when a `not` is in front of it.

Say that we have two logical statements, or assertions, $P$ and $Q$. The truth table for the basic logical operators is as follows:

|  P  |  Q  | `not` P| P `and` Q | P `or` Q|
|:-----:|:-----:|:---:|:---:|:---:|
| `True` | `True` | `False` | `True` | `True` |
| `False` | `True` | `True` | `False` | `True` |
| `True` | `False` | `False` | `False` | `True` |
| `False` | `False` | `True` | `False` | `False` |

We can string multiple logical statements together using the logical operators.

In [ ]:
x,y=3,5
print (((a < b) and (a > 0)) or ((b > a) and not (b < b)))

##My Own Example 96,97,98
#### Truthiness

Data types in Python have a fun characteristic called truthiness. What this means is that most built-in types will evaluate as either `True` or `False` when a boolean value is needed (such as with an if-statement). As a general rule, containers like strings, tuples, dictionaries, lists, and sets, will return `True` if they contain anything at all and `False` if they contain nothing.

In [ ]:
print(bool(2))#para un valor diferente de 0 o vacio (null) el resultado es True

In [ ]:
print(bool(-1))

In [ ]:
print(bool([4, 2, 3]))

#My Own Example 99,100
### If-statements

We can create segments of code that only execute if a set of conditions is met. We use if-statements in conjunction with logical statements in order to create branches in our code. 

An `if` block gets entered when the condition is considered to be `True`. If condition is evaluated as `False`, the `if` block will simply be skipped unless there is an `else` block to accompany it. Conditions are made using either logical operators or by using the truthiness of values in Python. An if-statement is defined with a colon and a block of indented text.

In [ ]:
condicion=True
if condicion:#funciona con condiciones determinando sus valores de verdad
  print("OK")

## My Own Example 101,102,103

Because in this example `i = 4` and the if-statement is only looking for whether `i` is equal to `5`, the print statement will never be executed. We can add in an `else` statement to create a contingency block of code in case the condition in the if-statement is not evaluated as `True`.

In [ ]:
a=int(input())#ingresa una variable del tipo int, si no es asi falla
if a==1:
  print("si el if se cumple no se realiza el else")
else:
  print("Esto seria en caso de que if no se cumpla")

In [ ]:
a=5
print(a%4)
if a%3:
  print("se imprime porque como es uno o mayor, esto es verdad")

Because in this example i = 4 and the if-statement is only looking for whether i is equal to 5, the print statement will never be executed. We can add in an else statement to create a contingency block of code in case the condition in the if-statement is not evaluated as True.

In [ ]:
b = 10
if b >= 8:#Ifs anidados
  if b==8:
      print("este numero es ocho")
  if b==9: 
      print("este numero es nueve")
else:
  print("este numero no es ni ocho ni nueve")

## My Own Example 104,105
We can implement other branches off of the same if-statement by using `elif`, an abbreviation of "else if". We can include as many `elifs` as we like until we have exhausted all the logical branches of a condition.

In [ ]:
b = 10
if b == 8:
  print("este numero es ocho")
elif b==9:#es otra condicion evita tener muchos ifs anidados
  print("este numero es nueve")
else:
  print("este numero no es ni ocho ni nueve")

In [ ]:
i = 5
if i == 1:
    print ('valor 1')
elif i == 2:
    print ('valor 2')
elif i == 3:
    print ('valor 3')
else:
    print ("valor >3")

## My Own Example 106
Remember that we can group multiple conditions together by using the logical operators!

In [ ]:
c,d=9,10
if c>5 or d==0:#una de las condiciones debe cumplirse
    print('Ok')

## My Own Example 107,108
You can use the logical comparators to compare strings!

As with other data types, == will check for whether the two things on either side of it have the same value. In this case, we compare whether the value of the strings are the same. Using > or < or any of the other comparators is not quite so intuitive, however, so we will stay from using comparators with strings in this lecture. Comparators will examine the lexicographical order of the strings, which might be a bit more in-depth than you might like.

Some built-in functions return a boolean value, so they can be used as conditions in an if-statement. User-defined functions can also be constructed so that they return a boolean value. This will be covered later with function definition!

The in keyword is generally used to check membership of a value within another value. We can check memebership in the context of an if-statement and use it to output a truth value.

In [ ]:
s='El ingenioso hidalgo don Quijote de la Mancha'
if ''in s and s.count('o')>3:
  print("se cumplieron las condiciones")

In [ ]:
a=5
print("Este contador es incremental para i, ya que a determina el valor que termina el bucle")
for i in range (a):
  print(i)

## My Own Example 109
## Loop Structures

Loop structures are one of the most important parts of programming. The `for` loop and the `while` loop provide a way to repeatedly run a block of code repeatedly. A `while` loop will iterate until a certain condition has been met. If at any point after an iteration that condition is no longer satisfied, the loop terminates. A `for` loop will iterate over a sequence of values and terminate when the sequence has ended. You can instead include conditions within the `for` loop to decide whether it should terminate early or you could simply let it run its course.

In [ ]:
a=5
while a>0:#Contador de 5 a 0
  print(a)
  a-=1 #manera de iterar una resta enm ves de escribir i=i-1

##My Own Example 110
A `for` loop iterates a set number of times, determined when you state the entry into the loop. In this case we are iterating over the list returned from `range()`. The `for` loop selects a value from the list, in order, and temporarily assigns the value of `i` to it so that operations can be performed with the value.

In [ ]:
b=['abada','abadejo','abadengo','abadernar','abadesa','abadia','abadiado','abadiato']
for i in b:
  print(i)

##My Own Example 111
Note that in this `for` loop we use the `in` keyword. Use of the `in` keyword is not limited to checking for membership as in the if-statement example. You can iterate over any collection with a `for` loop by using the `in` keyword.

In this next example, we will iterate over a `set` because we want to check for containment and add to a new set.

[pass] permite saltarse funciones o bucles que no se quieran ejecutar para evitar que la ejecucion genere un error

In [ ]:
for i in range(4):
  pass

##My Own Example 112,113

A `for` loop iterates a set number of times, determined when you state the entry into the loop. In this case we are iterating over the list returned from `range()`. The `for` loop selects a value from the list, in order, and temporarily assigns the value of `i` to it so that operations can be performed with the value.

In [ ]:
Lista=[[],[],[]]
cont=1
for i in range (3):#for anidados
  for j in range (3):
    Lista[i].append(cont)
    cont+=1
print(Lista)

In [ ]:
a=1
sum=0
while a<=10:
  if a%2==0:
    pass
  else: 
    sum+=a
  a+=1
print(sum)

##My Own Example 114
There are two statements that are very helpful in dealing with both `for` and `while` loops. These are `break` and `continue`. If `break` is encountered at any point while a loop is executing, the loop will immediately end.

In [ ]:
i=0
for _ in range(200):
  if i == 100:
        break#rompe el for cuando la condicion se cumple
  _+=i        #_ es una variable temporal
print (_)


##My Own Example 115
The `continue` statement will tell the loop to immediately end this iteration and continue onto the next iteration of the loop.

The variable that we use to iterate over a loop will retain its value when the loop exits. Similarly, any variables defined within the context of the loop will continue to exist outside of it.

In [ ]:
a = 0
while a < 5:
    a += 1
    if a%2==0:#SE Salta los casos que cumplan esta condicion
        continue
    
    print (a)

##My Own Example 116
The variable that we use to iterate over a loop will retain its value when the loop exits. Similarly, any variables defined within the context of the loop will continue to exist outside of it.

In [ ]:
text='Don Quijote de la Mancha'
for i in range (len(text)):
  print(text[i])

We can also iterate over a dictionary!

##My Own Example 117
If we just iterate over a dictionary without doing anything else, we will only get the keys. We can either use the keys to get the values, like so:

In [ ]:
diccionario = {'nombre' : 'Pepito', 'Apellido' : 'Perez', 'Edad' : 23}
for key in diccionario:
    print (key,':',diccionario[key])

##My Own Example 118,119
Or we can use the `items()` function to get both key and value at the same time.

In [ ]:
for key, value in diccionario.items():
    print (key, ':', value)

##My Own Example 119

In [ ]:
h=str("hola")
for _ in range (len(h)):
  print('hola')

## My Own Example 120
## Functions

A function is a reusable block of code that you can call repeatedly to make calculations, output data, or really do anything that you want. This is one of the key aspects of using a programming language. To add to the built-in functions in Python, you can define your own!

In [ ]:
def colores():#en una funcion las variable son locales
  azul='claro'
colores()
print(azul)

##My Own Example 121
Functions are defined with `def`, a function name, a list of parameters, and a colon. Everything indented below the colon will be included in the definition of the function.

We can have our functions do anything that you can do with a normal block of code. For example, our `hello_world()` function prints a string every time it is called. If we want to keep a value that a function calculates, we can define the function so that it will `return` the value we want. This is a very important feature of functions, as any variable defined purely within a function will not exist outside of it.

In [ ]:
def colores():#en una funcion las variable son locales
  azul='oscuro'
  return azul
colores()
azul=colores()
print(azul)

## My Own Example 122
 The **scope** of a variable is the part of a block of code where that variable is tied to a particular value. Functions in Python have an enclosed scope, making it so that variables defined within them can only be accessed directly within them. If we pass those values to a return statement we can get them out of the function. This makes it so that the function call returns values so that you can store them in variables that have a greater scope.
 
In this case specifically, including a return statement allows us to keep the string value that we define in the function.

In [ ]:
def sum(x):
    res=0
    while x!=0:
      res+=x
      x-=1

    return res

num =5
print (sum(num))

## My Own Example 123
Just as we can get values out of a function, we can also put values into a function. We do this by defining our function with parameters.

In [ ]:
def multiplicacion(a,b):
  return a*b
multiplicacion(int(input()),int(input()))

## My Own Example 124,125

In [ ]:
a,b=5,1 #estos datos son globales por lo que no se mezclan con los a y b de la funcion multiplicacion
for i in range (1,a):#sumatoria usando la funcion  multiplicacion
  b=multiplicacion(i,a)
  a=b
print(a)

In [ ]:
def contador(x):
  global Lista      #los global acceden a terminos fuera de la funcion
  for i in range (x):
    Lista.append(i)
  return Lista
Lista=[]
x=5
print(contador (x))

## My Own Example 126
If we want to, we can define a function so that it takes an arbitrary number of parameters. We tell Python that we want this by using an asterisk (`*`).

In [ ]:
def args(*args):#introduce los datos en una tupla
    print (args)
lista=[4,3,1]
args(lista)

## My Own Example 127
Se llama recursividad a un proceso mediante el que una funciÃ³n se llama a sÃ­ misma de forma repetida, hasta que se satisface alguna determinada condiciÃ³n. El proceso se utiliza para computaciones repetidas en las que cada acciÃ³n se determina mediante un resultado anterior. Se pueden escribir de esta forma muchos problemas iterativos.

In [ ]:
def fib(x):
  global a,b,c
  x-=1
  c=a+b
  a=b
  b=c
  if x>1:
    fib(x)#recursividad
  return int(c)

a,b,c=0,1,0
fib(16)
print(c)

## My Own Example 128

In [ ]:
if (fib(13)>=100):
  print("el numero supera al 100")
else: print("el numero de fibonacci no supera al 100")

## My Own Example 129
cuando las funciones devuelven varios datos los devuelven en forma de tupla

In [ ]:
def tupla(a,b):
  return a,b
t=tupla(3,4)
print(t,type(t))

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/en/d/de/Quantopian_logo_2017.png">
</div> 

# Introduction to pandas
by Maxwell Margenot

Part of the Quantopian Lecture Series:

* [www.quantopian.com/lectures](https://www.quantopian.com/lectures)
* [github.com/quantopian/research_public](https://github.com/quantopian/research_public)



## My Own Example 130

pandas is a Python library that provides a collection of powerful data structures to better help you manage data. In this lecture, we will cover how to use the `Series` and `DataFrame` objects to handle data. These objects have a strong integration with NumPy, covered elsewhere in the [lecture series](http://www.quantopian.com/lectures#Introduction-to-NumPy), allowing us to easily do the necessary statistical and mathematical calculations that we need for finance.

In [ ]:
import random as r
import math as m
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## My Own Example 131
With pandas, it is easy to store, visualize, and perform calculations on your data. With only a few lines of code we can modify our data and present it in an easily-understandable way. Here we simulate some returns in NumPy, put them into a pandas `DataFrame`, and perform calculations to turn them into prices and plot them, all only using a few lines of code.

In [ ]:
returns = pd.DataFrame(np.random.normal(0.97, 0.025, (92, 2)))
prices = returns.cumprod()
prices.plot()
plt.title('Generacion aleatoria')
plt.xlabel('X')
plt.ylabel('Y')
plt.legend(loc=0);

## My Own Example 132
## pandas Data Structures

### `Series`

A pandas `Series` is a 1-dimensional array with labels that can contain any data type. We primarily use them for handling time series data. Creating a `Series` is as easy as calling `pandas.Series()` on a Python list or NumPy array.

In [ ]:
a = pd.Series([21, -23, np.nan, 0,5*3,4,19,11])
print (a)
a = pd.Series([12, -13, np.nan, 0,2*3,7,17,21])

## My Own Example 133

## My Own Example 134
Every `Series` has a name. We can give the series a name as a parameter or we can define it afterwards by directly accessing the name attribute. In this case, we have given our time series no name so the attribute should be empty.

In [ ]:
print(a.name)

##My Own Example 135

This name can be directly modified with no repercussions.

In [ ]:
a.name = "Serie 1"
print (a.name)

## My Own Example 136
We call the collected axis labels of a `Series` its index. An index can either passed to a `Series` as a parameter or added later, similarly to its name. In the absence of an index, a `Series` will simply contain an index composed of integers, starting at $0$, as in the case of our "Toy Series".

In [ ]:
print(a.index)

## My Own Example 137
pandas has a built-in function specifically for creating date indices, `date_range()`. We use the function here to create a new index for `s`.

In [ ]:
ni = pd.date_range("2021-04-02", periods=len(a), freq="D")
print (ni)

## My Own Example 138
#### Accessing `Series` Elements

`Series` are typically accessed using the `iloc[]` and `loc[]` methods. We use `iloc[]` to access elements by integer index and we use `loc[]` to access the index of the Series.8

In [ ]:
a.iloc[:2]

## My Own Example 139
When creating a slice, we have the options of specifying a beginning, an end, and a step. The slice will begin at the start index, and take steps of size `step` until it passes the end index, not including the end.

In [ ]:
inicio = 0
fin = len(a) - 2
salto = 1

a.iloc[inicio:fin:salto]

## My Own Example 140
#### Boolean Indexing

In addition to the above-mentioned access methods, you can filter `Series` using boolean arrays. `Series` are compatible with your standard comparators. Once compared with whatever condition you like, you get back yet another `Series`, this time filled with boolean values.

In [ ]:
print (b < 3)

## My Own Example 141
We can pass *this* `Series` back into the original `Series` to filter out only the elements for which our condition is `True`.

In [ ]:
print(a.loc[a<4])

## My Own Example 142

In [ ]:

!pip install yfinance
!pip install yahoofinancials
import pandas as pd
import yfinance as yf

from yahoofinancials import YahooFinancials

btc_df = yf.download('BTC', 
                      start='2021-04-03', 
                      end='2022-04-3', 
                      progress=False,
)
btc_df.head()

## My Own Example 143

In [ ]:
btc_df = yf.download('btc')

## My Own Example 144

In [ ]:
ticker = yf.Ticker('BTC-USD')
btc_df = ticker.history(period="1y")
btc_df['Close'].plot(title="BTC USD")

## My Own Example 145

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import plotly.graph_objs as go
data = yf.download(tickers='BTC-USD', period = '24h', interval = '15m')

## My Own Example 146

In [ ]:
df = yf.download(
tickers = ["DOGE-USD", "BTC-USD"],
period = "1mo",
interval = "15m"
)
df.to_csv('data.csv')

## My Own Example 147

In [ ]:
btc_df = yf.download('BTC', 
                      start='2021-04-03', 
                      end='2022-04-3', 
                      progress=False,
)
btc_df.head()

##My Own Example 148

In [ ]:
btc_df = yf.download('btc')

##My Own Example 149

In [ ]:
ticker = yf.Ticker('BTC-USD')
btc_df = ticker.history(period="1y")
btc_df['Close'].plot(title="BTC USD")

## My Own Example 150

In [ ]:
from yahoofinancials import YahooFinancials

yahoo_financials = YahooFinancials('BTC-USD')
data=yahoo_financials.get_historical_price_data("2022-03-03", "2022-04-03", "monthly")
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
btc_df = btc_df.drop('date', axis=1).set_index('formatted_date')
btc_df.head()

##My Own Example 151

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import plotly.graph_objs as go
data = yf.download(tickers='BTC-USD', period = '24h', interval = '15m')

## My Own Example 152

In [ ]:
df = data
print(df.Close.tail(5))
print(df['Volume'].tail(5))

##My Own Example 153
Funciona parecido a range en Python, solo que en lugar de regresar un generador, retorna un ndarray. Sus argumentos principales son: start, stop y step. Con lo que puedes dar un rango de valores y cada cuÃ¡nto quieres que aparezcan.

##My Own Example 154

In [ ]:
print(np.sqrt(a))

##My Own Example 155
A continuaciÃ³n se muestran muchos otros ejemplos (ten en cuenta que no te serÃ¡n evaluados, pero aÃºn asÃ­ es Ãºtil ver las capacidades de NumPy):

In [ ]:
print(np.sin(a))
print(np.cos(a))
print(np.log(a))

##My Own Example 156
scatter(x, y): Dibuja un diagrama de puntos con las coordenadas de la lista x en el eje X y las coordenadas de la lista y en el eje Y.

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
ax.scatter(x = [1, 2, 3,4,5], y = [1, 4, 9,16,25])

##My Own Example 157
plot(x, y): Dibuja un polÃ­gono con los vÃ©rtices dados por las coordenadas de la lista x en el eje X y las coordenadas de la lista y en el eje Y.

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
ax.plot([1, 2, 3, 4,5], [1, 4, 9, 16,25])
plt.show()

##My Own Example 158
bar(x, y): Dibuja un diagrama de barras verticales donde x es una lista con la posiciÃ³n de las barras en el eje X, e y es una lista con la altura de las barras en el eje Y.

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
ax.bar([1, 2.5, 3,7], [1, 2, 3.5,9])
plt.show()

##My Own Example 159
[hist(x, bins)]: Dibuja un histograma con las frecuencias resultantes de agrupar los datos de la lista x en las clases definidas por la lista bins.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
x = np.random.normal(6, 1.7, size=850)
ax.hist(x, np.arange(0, 9))
plt.show()

##My Own Example 160
pie(x): Dibuja un diagrama de sectores con las frecuencias de la lista x.

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
ax.pie([4, 7, 1, 4, 3])
plt.show()

##My Own Example 161
Para cambiar el color de los objetos se utiliza el parÃ¡metro color = nombre-color, donde nombre-color es una cadena con el nombre del color de entre los colores disponibles.

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
dias = ['Enero ', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
temperaturas = {'2022':[31,28,31,30,31,30,31,31,30,31,30,31]}
ax.plot(dias, temperaturas['2022'], color = 'tab:purple')
plt.show()

##My Own Example 162

In [ ]:
n=r.randint(0,360)
sin=np.sin(n)
print('el seno de',n,'es:',sin)

#My Own Example 163,164
##Resampling
series.resample(freq) is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

series.resample.mean() is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())
aapl.resample('M').max()

##My Own Example 165
We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

##My Own Example 166
Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

##My Own Example 167
Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

##My Own Example 168
Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

##My Own Example 169
Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

##My Own Example 170
Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

##My Own Example 171

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

##My Own Example 172
Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

##My Own Example 173
As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

##My Own Example 174
###DataFrame Concat

We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.
In Pandas, the function concat() allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

##My Own Example 175
The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

##My Own Example 176

We can also join two DataFrames by rows. Consider these two DataFrames

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

##My Own Example 177
Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

##My Own Example 178
By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

##My Own Example 179
Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

##My Own Example 180
'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

##My Own Example 181
Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

##My Own Example 182
####Colab Yahoo Graphical Representations of Data
By Evgenia "Jenny" Nitishinskaya, Maxwell Margenot, and Delaney Granizo-Mackenzie.

##Part of the Quantopian Lecture Series:

www.quantopian.com/lectures
github.com/quantopian/research_public
Representing data graphically can be incredibly useful for learning how the data behaves and seeing potential structure or flaws. Care should be taken, as humans are incredibly good at seeing only evidence that confirms our beliefs, and visual data lends itself well to that. Plots are good to use when formulating a hypothesis, but should not be used to test a hypothesis.

We will go over some common plots here.

In [ ]:
# Import our libraries

# This is for numerical processing
import numpy as np
# This is the library most commonly used for plotting in Python.
# Notice how we import it 'as' plt, this enables us to type plt
# rather than the full string every time.
import matplotlib.pyplot as plt

##My Own Example 183

In [ ]:
!pip install yfinance

##My Own Example 184

Getting Some Data
If we're going to plot data we need some data to plot. We'll get the pricing data of Apple (AAPL) and Microsoft (MSFT) to use in our examples.

Data Structure
Knowing the structure of your data is very important. Normally you'll have to do a ton of work molding your data into the form you need for testing. Quantopian has done a lot of cleaning on the data, but you still need to put it into the right shapes and formats for your purposes.

In this case the data will be returned as a pandas dataframe object. The rows are timestamps, and the columns are the two assets, AAPL and MSFT.

In [ ]:
import yfinance as yf

data_all = yf.download("AAPL,BTC", start="2020-01-01", end="2021-01-01")
data_all.head()

##My Own Example 185

In [ ]:
data = data_all["Close"]
data.head()

In [ ]:
datos = data_all["Close"]
datos.head()

##My Own Example 187

In [ ]:
datos["AAPL"].head()

##My Own Example 188
## Histogram
A histogram is a visualization of how frequent different values of data are. By displaying a frequency distribution using bars, it lets us quickly see where most of the observations are clustered. The height of each bar represents the number of observations that lie in each interval. You can think of a histogram as an empirical and discrete Probability Density Function (PDF).

In [ ]:
# Plot a histogram using 20 bins
plt.hist(data['BTC'], bins=20)
plt.xlabel('Price')
plt.ylabel('Number of Days Observed')
plt.title('Frequency Distribution of MSFT Prices, 2014');

##My Own Example 189
### Returns Histogram
In finance rarely will we look at the distribution of prices. The reason for this is that prices are non-stationary and move around a lot. For more info on non-stationarity please see this lecture. Instead we will use daily returns. Let's try that now.

In [ ]:
plt.hist(datos["AAPL"], bins = 22)
plt.xlabel('Precio')
plt.ylabel('Dias observados')
plt.title('Distribucion de precios');

##My Own Example 190
The graph above shows, for example, that the daily returns of MSFT were above 0.03 on fewer than 5 days in 2014. Note that we are completely discarding the dates corresponding to these returns.

IMPORTANT: Note also that this does not imply that future returns will have the same distribution.
Cumulative Histogram (Discrete Estimated CDF)
An alternative way to display the data would be using a cumulative distribution function, in which the height of a bar represents the number of observations that lie in that bin or in one of the previous ones. This graph is always nondecreasing since you cannot have a negative number of observations. The choice of graph depends on the information you are interested in.

In [ ]:
# Remove the first element because percent change from nothing to something is NaN
R = data['BTC'].pct_change()[1:]

# Plot a histogram using 20 bins
plt.hist(R, bins=20)
plt.xlabel('Return')
plt.ylabel('Number of Days Observed')
plt.title('Frequency Distribution of MSFT Returns, 2014');

##My Own Example 191

In [ ]:
RR = datos['AAPL'].pct_change()[1:]

plt.hist(RR, bins = 22)
plt.xlabel('Regreso')
plt.ylabel('Dias observados')
plt.title('Distribucion de frecuencias');

##My Own Example 192
Returns Histogram
In finance rarely will we look at the distribution of prices. The reason for this is that prices are non-stationary and move around a lot. For more info on non-stationarity please see this lecture. Instead we will use daily returns. Let's try that now.

In [ ]:
# Remove the first element because percent change from nothing to something is NaN
R = data['BTC'].pct_change()[1:]

# Plot a histogram using 20 bins
plt.hist(R, bins=20, cumulative=True)
plt.xlabel('Return')
plt.ylabel('Number of Days Observed')
plt.title('Cumulative Distribution of MSFT Returns, 2014');

##My Own Example 193

In [ ]:
RR = datos['AAPL'].pct_change()[1:]

plt.hist(RR, bins = 22, cumulative=True)
plt.xlabel('Regreso')
plt.ylabel('Dias observados')
plt.title('Distribucion de frecuencias');

##My Own Example 194,195

## Scatter plot
A scatter plot is useful for visualizing the relationship between two data sets. We use two data sets which have some sort of correspondence, such as the date on which the measurement was taken. Each point represents two corresponding values from the two data sets. However, we don't plot the date that the measurements were taken on.

In [ ]:
plt.scatter(data['BTC'], data['AAPL'])
plt.xlabel('BTC')
plt.ylabel('AAPL')
plt.title('Daily Prices in 2014');

In [ ]:
R_msft = data['BTC'].pct_change()[1:]
R_aapl = data['AAPL'].pct_change()[1:]

plt.scatter(R_btc, R_aapl)
plt.xlabel('BTC')
plt.ylabel('AAPL')
plt.title('Daily Returns in 2014');

##My Own Example 196,197

In [ ]:
plt.scatter(datos['BTC'], datos['AAPL'])
plt.xlabel('BTC')
plt.ylabel('AAPL')
plt.title('Precios desde 2014');

In [ ]:
R_btc = data['BTC'].pct_change()[1:]
R_aapl = data['AAPL'].pct_change()[1:]

plt.scatter(R_btc, R_aapl)
plt.xlabel('BTC')
plt.ylabel('AAPL')
plt.title('Regresos desde 2014');

##My Own Example 198,199
####Line graph
A line graph can be used when we want to track the development of the y value as the x value changes. For instance, when we are plotting the price of a stock, showing it as a line graph instead of just plotting the data points makes it easier to follow the price over time. This necessarily involves "connecting the dots" between the data points, which can mask out changes that happened between the time we took measurements.

In [ ]:
plt.plot(data['BTC'])
plt.plot(data['AAPL'])
plt.ylabel('Price')
plt.legend(['MSFT', 'AAPL']);

In [ ]:
R = data['BTC'].pct_change()[1:]

plt.plot(R)
plt.ylabel('Return')
plt.title('BTC Returns');

##My Own Example 199,200

In [ ]:
plt.plot(datos['BTC'])
plt.plot(datos['AAPL'])
plt.ylabel('Precio')
plt.legend(['BTC', 'AAPL']);

In [ ]:
RR = datos['BTC'].pct_change()[1:]

plt.plot(RR)
plt.ylabel('Regreso')
plt.title('MSFT Regresos');

Never Assume Conditions Hold
Again, whenever using plots to visualize data, do not assume you can test a hypothesis by looking at a graph. Also do not assume that because a distribution or trend used to be true, it is still true. In general much more sophisticated and careful validation is required to test whether models hold. Plots are mainly useful when initially deciding how your models should work.

This presentation is for informational purposes only and does not constitute an offer to sell, a solicitation to buy, or a recommendation for any security; nor does it constitute an offer to provide investment advisory or other services by Quantopian, Inc. ("Quantopian"). Nothing contained herein constitutes investment advice or offers any opinion with respect to the suitability of any security, and any views expressed herein should not be taken as advice to buy, sell, or hold any security or as an endorsement of any security or company. In preparing the information contained herein, Quantopian, Inc. has not taken into account the investment needs, objectives, and financial circumstances of any particular investor. Any views expressed and data illustrated herein were prepared based upon information, believed to be reliable, available to Quantopian, Inc. at the time of publication. Quantopian makes no guarantees as to their accuracy or completeness. All information is subject to change and may quickly become unreliable for various reasons, including changes in market conditions or economic circumstances.