<a href="https://colab.research.google.com/github/ivanyspaez/AlgorithmsUN2022I/blob/main/isepulveda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##My Own Example 


A code cell will be evaluated when you press play, or when you press the shortcut, shift-enter. Evaluating a cell evaluates each line of code in sequence, and prints the results of the last line below the cell.

In [ ]:
3+2

##My Own Example 2
Sometimes there is no result to be printed, as is the case with assignment.

In [ ]:
w=23

##My Own Example 3
Remember that only the result from the last line is printed.

In [ ]:
4-3
4-2
4-1

##My Own Example 4
However, you can print whichever lines you want using the print statement.

In [ ]:
print(1+9)

##My Own Example 5
While a cell is running, a [*] will display on the left. When a cell has yet to be executed, [ ] will display. When it has been run, a number will display indicating the order in which it was run during the execution of the notebook [5]. Try on this cell and note it happening.

In [ ]:
c = 0
for x in range(100000001):
    c = c + x
c

##My Own Example 6
The vast majority of the time, you'll want to use functions from pre-built libraries. You can't import every library on Quantopian due to security issues, but you can import most of the common scientific ones. Here I import numpy and pandas, the two most common and useful libraries in quant finance. I recommend copying this import statement to every new notebook.

In [ ]:
import math as m
import scipy as sp
import random as r

##My Own Example 7
Pressing tab will give you a list of IPython's best guesses for what you might want to type next. This is incredibly valuable and will save you a lot of time. If there is only one possible option for what you could type next, IPython will fill that in for you. Try pressing tab very frequently, it will seldom fill in anything you don't want, as if there is ambiguity a list will be shown. This is a great way to see what functions are available in a library.

Try placing your cursor after the . and pressing tab.w

In [ ]:
m.cos(0).

My Own Example 8

In [ ]:
m.ceil?

##My Own Example 8

usando funcion random de la libreria random

In [ ]:
def Lista():
  l1,l2=[],[]
  for i in range (7):
    for j in range (7):
      l2.append(int(int(r.random()+r.randint(5,30)))) # 
    l1.append(l2.copy())
    l2.clear()
  return l1
L=Lista()
L

My Own Example 8

In [ ]:
import matplotlib.pyplot as plt
L=L[0:2]

plt.hist(L)

My Own Example 9

In [ ]:
l,l2=Lista()[0:2],Lista()
plt.plot(l);
plt.plot(l2);
plt.xlabel('Time') # The data we generated is unitless, but don't forget units in general.
plt.ylabel('Returns')
plt.legend(['L', 'L2']);

My Own Example 10

In [ ]:
n=r.randint(0,360)
sin=m.sin(n)
print('el seno de',n,'es:',sin)

My Own Example 11

In [ ]:
import numpy as np
np.median(l2)

My Own Example 12

In [ ]:
!pip install finnhub-python

My Own Example 13

In [ ]:
!pip install yfinance
import yfinance as yf

My Own Example 15

In [ ]:
d = yf.download("BTC-USD", start="2021-4-1", end="2022-4-1")

My Own Example 16

In [ ]:
d

My Own Example 17

In [ ]:
X = d['Close']

My Own Example 18

In [ ]:
plt.plot(X.index, X.values)
plt.ylabel('Price')
plt.legend(['BTC-USD']);

My Own Example 19

In [ ]:
np.mean(d)

My Own Example 20

In [ ]:
np.std(d)

My Own Example 21

In [ ]:
B = X.pct_change()[1:]

My Own Example 22

In [ ]:
plt.hist(B, bins=20)
plt.xlabel('Return')
plt.ylabel('Frequency')
plt.legend(['BTC-USD Returns']);

My Own Example 23

In [ ]:
np.mean(B)

My Own Example 24

In [ ]:
np.std(B)

My Own Example 25

In [ ]:
plt.hist(np.random.normal(np.mean(B), np.std(B), 10000), bins=20)
plt.xlabel('Return')
plt.ylabel('Frequency')
plt.legend(['Normally Distributed Returns']);

My Own Example 26

In [ ]:
MAVG = X.rolling(3).mean()
plt.plot(X.index, X.values)
plt.plot(MAVG.index, MAVG.values)
plt.ylabel('Price')
plt.legend(['BTC-USD', '1 Year MAVG']);

My Own Example 27

In [ ]:
# Comentarios

"""Estos comentarios se pueden hacer
   en varias lineas 
"""

"esto no es comentario, se imprime"

My Own Example 28

In [ ]:
a=[23]

print(a,type(a),type(a[0]))

My Own Example 29

In [ ]:
n1=int(15)
print(N1)
print(1n) # una variable no puede comenzar por un numero

My Own Example 30

In [ ]:
print(m.pi,type(m.pi))

My Own Example 31

In [ ]:
pi=m.pi
p=int(pi)
print (pi,":float   -->  ", p ,':int')
print(int(3.7))# se toman valores discretos

My Own Example 32

In [ ]:
string = 'en comillas simples '
print(string)
string = "en comillas dobles " # esta nueva llamada sustituye el valor anterior que tenia la variable
print(string)

My Own Example 33

In [ ]:
bool1=r.randint(0,1) #booleano aleatorio con randint
print(bool1,type(bool1))
bool2=str(bool1)
print(bool2,type(bool2))#la mayoria de datos se pueden convertir a string, no asi de la forma contraria

My Own Example 34

In [ ]:
a,b=int(input()),int(input())# la funcion input permite acceder datos desde el teclado 
print('Addition: '      , a + b)   # las variables se pueden operar invocandolas con su nombre cuantas veces sea necesario
print('Subtraction: '   , a - b)
print('Multiplication: ', a * b)
print('Division: '      , a / b) # la adicion se hace en float a menos que cambiemos el tipo de variable 
print('Division: '      , int(a / b))
print('Exponentiation: ', a**b)

My Own Example 35

In [ ]:
a,b=int(input()),int(input())# la funcion input permite acceder datos desde el teclado 
print('Modulo'          , a%b)#residuo

My Own Example 36

In [ ]:
n1 = r.randint(0,10)
n2 = r.randint(0,10)
print(n1 * n2)  # las variables se pueden operar invocandolas con su nombre

My Own Example 37

In [ ]:
a,b=4,-3
print(a/b)

My Own Example 38

In [ ]:
m?
# Ayuda para la libreria math, esta fue importada antes como m 
import math
import math as mates

My Own Example 39

In [ ]:
# podemos importar las librerias cuantas veces querramos con un nombre diferente cada vez, aunque est
print('Pi: ', math.pi)
print("Euler's Constant: ", mates.e)
del mates # el comando del elimina las librerias que importamos

My Own Example 40

In [ ]:
a=int(r.randint(0,360))
print('Sine of {}: '.format(a), math.sin(a))

My Own Example 41

In [ ]:
Lista=[]

My Own Example 42

My Own Example 43

My Own Example 44

My Own Example 45

In [ ]:
string = "en comillas simples"
string=string +",y una operacion de adicion de string"
print(string) # la adicion en los string agrega estos nuevos valores al final

In [ ]:
#al principio hicimos una lista L
Lista=[4,3,2,1,0]          #  el comando --> del L tambien elimina listas, y variables
print(Lista)
Lista.clear() # el comando clear limpia las listas 
print(Lista)
Lista=[1,2,3,4, 4.2,'hola',"H"]# las listas aceptan cualquier tipo de variable
print(Lista)

My Own Example 46

In [ ]:
print(L[1])
print(L[-2])#busca los datos de manera inversa

My Own Example 47

In [ ]:
print(len(Lista[5]))# estamos viendo la logitud de 'hola'
print(len(Lista))   #Longitud de Lista

My Own Example 48

In [ ]:
print(Lista)
Lista[1]=Lista[5]
print(Lista)

My Own Example 49

In [ ]:
string = ['A','B','C','D',1,2,3,4]
print(string)
string[0] = "X"
string[6]=string[6]+3 # tambien es posible hacer operaciones dentro de las listas
print(string)

In [ ]:
a,b=3,4
L3 = [a+b, 'False', 38%a]
L3

My Own Example 50

In [ ]:
  print(L3[0]-L3[2])#primero y ultimo elemento dentro de la lista

My Own Example 51

In [ ]:
print(L3[3])#se desborda por lo cual ocurre un error 'list index out of range'

My Own Example 52

In [ ]:
L3.clear()
L4=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(L4[2:6]+L4[9:12]) #Slices

My Own Example 53

In [ ]:
print(L4[9:])

My Own Example 54

In [ ]:
print(L4[:6])

My Own Example 55

In [ ]:
print(L4[1:10:2])#de izquierda a derecha los valores determinan [inicio:fin:salto]

My Own Example 56

In [ ]:
#ya demostramos que se pueden imprimir valores al reves, pero ademas es posible hacerlos con ciertos saltos
print(L4[11:1:-1])

My Own Example 57

In [ ]:
print(L4[-1])

My Own Example 58

In [ ]:
a = 5
r = range(a)
print(r)

My Own Example 59

In [ ]:
a,b = 5,20
r = range(a,b)
print(r)

My Own Example 60

In [ ]:
a=[1,2,3,4,5,6]
b=a
b[2]='m'
b[0]='a'
print('b',b)#las listas se deben copiar con .copy(),ya que apuntan al mismo espacio de memoria  
print('a',a)

My Own Example 61

In [ ]:
a,b,c = 5,20,2
r = range(a,b,c)
print(r)

My Own Example 62

In [ ]:
tupla=('21','a','2',-20,'m',True) #una tupla se puede crear con o sin parentesis
tupla2=1,2,3,4
print(tupla,tupla2)

My Own Example 63

In [ ]:
tupla2=(tupla)
print(tupla2)

My Own Example 64

In [ ]:
tupla=1,2,3,4,5,6,7
print(tupla2)# a diferencia de las listas, las tuplas si se copian copiando los datos a otro espacio de memoria
tupla[2]='m' # pero son inmutables, no pueden ser modificadas

My Own Example 65

In [ ]:
print(tupla[2:6])

My Own Example 66

In [ ]:
tupla=tupla+tupla2
print(tupla)
print(tupla+tupla2)#Las tuplas son concatenables

My Own Example 67

In [ ]:
del tupla,tupla2  #las tuplas tambien son eliminables para liberar memoria, en este caso se muestra como eliminar 2 elementos con la misma linea de codigo

My Own Example 68

In [ ]:
tupla=(1,"2",True)#se pueden sacar los datos de una tupla a variables
num1,num2,num3=tupla
print(num1,num2,num3,type(num1),type(num2),type(num3))
del tupla

My Own Example 69

In [ ]:
sets = {7,1,True,'H',23/4,5,7,6,7,7,8,9,5}#sets o conjuntos, este tipo de variable no permite elementos repetidos
print(sets, type(sets))

My Own Example 70

In [ ]:
sets.add(4)#los sets organizan los datos que se le ingresan
print(sets)
sets.remove(5)
print(sets)#al igual que permiten eliminar facilmente datos

My Own Example 71

In [ ]:
sets.remove(7)
print(sets)
sets.discard(7)
print(sets)#discard permite tratar de borrar un dato pero previniendo errores en caso de que el dato no exista
sets.add(10)
sets.add(11)
sets.pop()#pop elimina datos de forma aleatoria

My Own Example 72

In [ ]:
print(len(sets))#longitud del conjunto
sets.add("a")
sets.add('b')
sets.add('c')

My Own Example 73

In [ ]:
'a' in sets #devuelve un booleano en base a si el dato esta en la variable
#Esta estructura tambien funciona con tuplas y listas

My Own Example 74

In [ ]:
print(sets)
set2={21,-10,'x','y',True}
print(type(set2))
print(sets|set2)#Con los conjuntos tambien se puede hacer union(&) o interseccion(|)
del sets,set2,num1,num2,num3

My Own Example 75

In [ ]:
diccionario= {"numeros": [1643, 7456,-432], 
           "palabras": ["Rueda", "datos", "hola"],
           "booleanos": [True,False,True,True]}
print(diccionario)#los diccionarios si pueden tener datos repetidos

My Own Example 76

In [ ]:
print(diccionario['numeros'])

My Own Example 77

In [ ]:
diccionario['numeros']=132%5
print(diccionario['numeros'])

My Own Example 78

In [ ]:
diccionario['palabras']='entrega','musica'# cambia todo el contenido de la seccion del diccionario
print(diccionario['palabras'])
del diccionario

My Own Example 79

In [ ]:
str1=str("abcdefgh")
str2='ijklmnopqrst'  # python determina de manera rapida de que tipo de variable se trata,excepto cuando recibe un dato del teclado
num3=3        
print(type(str1),type(str2),type(num3))
print(str1,'       ',str2)
str1=str1+str2 #sumar dos string como ya vimos los une en orden de llegada
print(str1)

My Own Example 80

In [ ]:
str1='hola'
str1=str1*num3
print(str1)#la multiplicacion por un entero, hace que el string se repita varias veces
str2="abcdefghijkl"
str2=str2[3:9]+str(num3)#se pueden agregar cualquier tipo de dato siempre y cuando los volvamos string
print(str2)

My Own Example 81

In [ ]:
str1="programacion"
print(str1[::-1])#muchas operaciones las podemos hacer en la declaracion, esto guardara la modificacion en la variable
print(str1[-1])#muestra el primer dato de atras a adelante
print(str1.count("a"))#cuenta el numero de veces que aparezca la variable
print(str1.upper())#presenta el string en mayuscula

My Own Example 82

In [ ]:
string='dnawkdnalndwlptryewka U dbdhavbwd.,.Umda, dwamqwpeqU oi'
print(string.find("U"))#muestra la posicion de la primera aparicion de un dato o cadena

My Own Example 83

In [ ]:
string="aaa iii ooo uuu"
print(string.replace('i','e'))

My Own Example 84

In [ ]:
string= string+" {0} {1} ".format('www', 'sss')+'mmm'
print(string)

My Own Example 85

In [ ]:
a=str("se hace")
print('la impresion %s aqui' % a)

My Own Example 86

In [ ]:
a=['primero','segundo']
print('Aqui se imprime lo %s y aqui %s' % (a[0],a[1]))

My Own Example 87

In [ ]:
b=True
a=int(5)
print(a==b)# == es una comparacion en este caso con un booleano

My Own Example 88

In [ ]:
print('A'<='a')#analiza sus valores ascii

My Own Example 89

In [ ]:
m,n=-2,2
print(m<n)

My Own Example 90

In [ ]:
a=15>=5 #las variables pueden ser desigualdades 
b=a==False
print("a es : {0} \nb es : {1}".format(a,b))

My Own Example 91

In [ ]:
x,y=3,5
print (((a < b) and (a > 0)) or ((b > a) and not (b < b)))

My Own Example 92

In [ ]:
print(bool(2))#para un valor diferente de 0 o vacio (null) el resultado es True

My Own Example 93

In [ ]:
print(bool(-1))

My Own Example 94

In [ ]:
print(bool([]))

My Own Example 95

In [ ]:
condicion=True
if condicion:#funciona con condiciones determinando sus valores de verdad
  print("OK")

My Own Example 96

In [ ]:
a=int(input())#ingresa una variable del tipo int, si no es asi falla
if a==1:
  print("si el if se cumple no se realiza el else")
else:
  print("Esto seria en caso de que if no se cumpla")

My Own Example 97

In [ ]:
a=5
print(a%4)
if a%3:
  print("se imprime porque como es uno o mayor, esto es verdad")

My Own Example 98

In [ ]:
b = 10
if b >= 8:#Ifs anidados
  if b==8:
      print("este numero es ocho")
  if b==9: 
      print("este numero es nueve")
else:
  print("este numero no es ni ocho ni nueve")

My Own Example 99

In [ ]:
b = 10
if b == 8:
  print("este numero es ocho")
elif i==9:#es otra condicion evita tener muchos ifs anidados
  print("este numero es nueve")
else:
  print("este numero no es ni ocho ni nueve")

My Own Example 100

In [ ]:
c,d=9,10
if c>5 or d==0:#una de las condiciones debe cumplirse
    print('Ok')

My Own Example 101

In [ ]:
s='El ingenioso hidalgo don Quijote de la Mancha'
if ''in s and s.count('o')>3:
  print("se cumplieron las condiciones")

My Own Example 102

In [ ]:
a=5
while a>0:#Contador de 5 a 0
  print(a)
  a-=1 #manera de iterar una resta enm ves de escribir i=i-1

My Own Example 103

In [ ]:
a=5
print("Este contador es incremental para i, ya que a determina el valor que termina el bucle")
for i in range (a):
  print(i)

My Own Example 104

In [ ]:
b=['abada','abadejo','abadengo','abadernar','abadesa','abadia','abadiado','abadiato']
for i in b:
  print(i)

My Own Example 105

In [ ]:
Lista=[[],[],[]]
cont=1
for i in range (3):#for anidados
  for j in range (3):
    Lista[i].append(cont)
    cont+=1
print(Lista)

My Own Example 106

In [ ]:
a=1
sum=0
while a<=10:
  if a%2==0:
    pass
  else: 
    sum+=a
  a+=1
print(sum)

My Own Example 107

In [ ]:
for i in range(200):
  if i == 100:
        break#rompe el for cuando la condicion se cumple
  _+=i        #_ es una variable temporal
print (_)

My Own Example 108

In [ ]:
a = 0
while a < 5:
    a += 1
    if a%2==0:#SE Salta los casos que cumplan esta condicion
        continue
    
    print (a)

My Own Example 109

In [ ]:
text='Don Quijote de la Mancha'
for i in range (len(text)):
  print(text[i])

My Own Example 110

In [ ]:
diccionario = {'nombre' : 'Pepito', 'Apellido' : 'Perez', 'Edad' : 23}
for key in diccionario:
    print (key,':',diccionario[key])

My Own Example 111

In [ ]:
for key, value in diccionario.items():
    print (key, ':', value)

My Own Example 112

In [ ]:
def hola():
  print("Hola")
hola()

My Own Example 113

In [ ]:
for _ in range (len('Hola')):
  hola()

My Own Example 114

In [ ]:
def colores():#en una funcion las variable son locales
  azul='claro'
colores()
print(azul)

My Own Example 115

In [ ]:
def colores():#en una funcion las variable son locales
  azul='oscuro'
  return azul
colores()
azul=colores()
print(azul)

My Own Example 116

In [ ]:
def sum(x):
    res=0
    while x!=0:
      res+=x
      x-=1

    return res

num =5
print (sum(num))

My Own Example 117

In [ ]:
def multiplicacion(a,b):
  return a*b
multiplicacion(int(input()),int(input()))

My Own Example 118

In [ ]:
a,b=5,1 #estos datos son globales por lo que no se mezclan con los a y b de la funcion multiplicacion
for i in range (1,a):#sumatoria usando la funcion  multiplicacion
  b=multiplicacion(i,a)
  a=b
print(a)

My Own Example 119

In [ ]:
def contador(x):
  global Lista      #los global acceden a terminos fuera de la funcion
  for i in range (x):
    Lista.append(i)
  return Lista
Lista=[]
x=5
print(contador (x))

My Own Example 120

In [ ]:
def args(*args):#introduce los datos en una tupla
    print (args)
lista=[4,3,1]
args(lista)

My Own Example 121

In [ ]:
def fib(x):
  global a,b,c
  x-=1
  c=a+b
  a=b
  b=c
  if x>1:
    fib(x)#recursividad
  return int(c)

a,b,c=0,1,0
fib(13)
print(c)

My Own Example 122

In [ ]:

if (fib(13)>=100):
  print("el numero supera al 100")
else: print("el numero de fibonacci no supera al 100")

My Own Example 123

In [ ]:
def tupla(a,b):#cuando las funciones devuelven varios datos los devuelven en forma de tupla
  return a,b
t=tupla(3,4)
print(t,type(t))

My Own Example 124

In [ ]:
import random as r
import math as m
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

My Own Example 125

In [ ]:
returns = pd.DataFrame(np.random.normal(0.97, 0.025, (92, 2)))
prices = returns.cumprod()
prices.plot()
plt.title('Generacion aleatoria')
plt.xlabel('X')
plt.ylabel('Y')
plt.legend(loc=0);

My Own Example 126

In [ ]:
a = pd.Series([21, -23, np.nan, 0,5*3,4,19,11])
print (a)

My Own Example 127

In [ ]:
print(a.name)

My Own Example 128

In [ ]:
a.name = "Serie 1"
print (a.name)

My Own Example 129

In [ ]:
b=a
b[1]=6
print(a)#apuntan al mismo espacio de memoria

My Own Example 130

In [ ]:
print(b.index,a.index)

My Own Example 131

In [ ]:
ni = pd.date_range("2021-04-02", periods=len(s), freq="D")
print (ni)

My Own Example 132

In [ ]:
b.iloc[:2]

My Own Example 133

In [ ]:
inicio = 0
fin = len(s) - 2
salto = 1

a.iloc[inicio:fin:salto]

My Own Example 134

In [ ]:
print (b < 3)

My Own Example 135

In [ ]:
print(b.loc[b<4])

My Own Example 136

In [ ]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

!pip install yfinance
!pip install yahoofinancials

btc_df = yf.download('BTC', 
                      start='2021-04-03', 
                      end='2022-04-3', 
                      progress=False,
)
btc_df.head()

My Own Example 137

In [ ]:
btc_df = yf.download('btc')

My Own Example 138

In [ ]:
ticker = yf.Ticker('BTC-USD')
btc_df = ticker.history(period="1y")
btc_df['Close'].plot(title="BTC USD")

My Own Example 139

In [ ]:
from yahoofinancials import YahooFinancials

yahoo_financials = YahooFinancials('BTC-USD')
data=yahoo_financials.get_historical_price_data("2022w-03-03", "2022-04-03", "monthly")
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
btc_df = btc_df.drop('date', axis=1).set_index('formatted_date')
btc_df.head()

My Own Example 140

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import plotly.graph_objs as go
data = yf.download(tickers='BTC-USD', period = '24h', interval = '15m')

My Own Example 141

In [ ]:
df = yf.download(
tickers = ["DOGE-USD", "BTC-USD"],
period = "1mo",
interval = "15m"
)
df.to_csv('data.csv')

My Own Example 142

My Own Example 143

My Own Example 144

My Own Example 145

My Own Example 146

My Own Example 147